@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Anton&family=Yanone+Kaffeesatz&family=Shizuru&family=Yanone+Kaffeesatz&family=Yellowtail&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
    text-decoration: none;
    list-style: none;
  }
body {
    background-image: url(/images/sincerely-media-p-NQlmGvFC8-unsplash.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
.mobileOnlyLogo {
    display: none;
}
header {
    width: 100%;
    justify-content: center;
    align-items: center;
    /*background-color: rgba(0,0,0,.7);*/
    /*background-color:rgba(5, 97, 202, 0.9);*/
    background-color: #c03411;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: white 1px;
    border-style: double;
}
header .nav {
    display: flex;
    font-size: 18px;
    padding: 0px;
    justify-content: space-around;
    /*background-color: blue;*/
    border-top: white 1px;
    border-style: double;
    border-bottom: white 0px;
    border-left: white 0px;
    border-right: white 0px;
}
header .nav li {
    border-top: white 0px;
    border-left: white 0px;
    border-right: white 0px;
    border-bottom: 0px;
    border-color: white;
    border-style: inset;
    width: 100%;
    text-align: center;
    padding: 7px;
    /*background-color: #c02600;*/
}
header .nav li:hover {
    background-color: rgba(0, 0, 0, .5);
}
header .nav a li {
    font-family: 'Anton', sans-serif;
    width: 460px;
}
.brandNameLogo {
    display: flex;
    justify-content: center;
    padding: 20px;
    text-align: center;
}
.brandNameLogo h1 {
    color: white;
    font-size: 60px;
    font-family: 'Yellowtail', cursive;
    text-align: center;
    text-shadow: 2px 2px 3px black;
    font-weight: 100;
}
#brandUlLink {
    position: absolute;
    left: 0;
    margin-right: 100px;
}
#brandUlLink a h1 {
    font-size: 20px;
}
#shopCartLink {
    position: absolute;
    right: 0;
    margin-right: 100px;
}
a:link, a:visited {
    color:white;
    text-decoration: none;
}
header .logo {
    text-align: center;
    background-color: #08183A;
    padding: 40px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: white 1.5px;
    border-style: double;
}
header .logo img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
header .cart {
    color: white;
    position: absolute;
    right: 0;
    z-index: 5;
    margin-right: 100px;
    margin-top: -160px;
}
header .logo h1 {
    color: #fff;
    word-spacing: .2em;
    letter-spacing: 5.5px;
    text-shadow: black 1px 2.5px;
    font-size: 36px;
}
header .nav li a {
    display: inline-block;
    color: #fff;
    margin-left: 40px;
    font-weight: 450;
}
header .nav li a:hover{
    font-weight: 500;
    transition: .1s ease-in-out;
}
#mainSections {
    display: flex;
    padding: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: white 1.5px;
    border-style: double;
    min-height: 91vh;
    color: white;
}
.mainBio {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
}
.mainBio img {
    width: 900px;
    filter: drop-shadow(1px 1px 5px white);
}
.aboutText {
    text-align: center;
    justify-content: center;
    align-items: center;
    /*background-color:cornflowerblue;*/
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px ;
    width: 40%;
    border-radius: 10px;
}
.aboutText h1 {
    font-size: 50px;
    margin: 10px;
    padding: 40px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-shadow: 2px 2px 3px black;
    font-weight: 100;
}
.aboutText p {
    font-size: 25px;
    margin: 10px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-shadow: 2px 2px 3px black;
    font-weight: 100;
}
/* custom styling for all icons */
i.fas,
i.fab {
  font-size: 25px;
}
/*i.fa-shopping-cart {
    font-size: 60px;
    color: white;
    text-shadow: black 7px 5.5px;
}*/
i.fa-aws {
    font-size: 20px;
    color: white;
}
.fa-soundcloud {
    color: white;

}
.fa-mixcloud {
    color: white;
    
}
.fa-twitch {
    color: white;
}
.fa-facebook {
    color: white;
}
.fa-instagram {
    color: white;
}
.fa-twitter {
    color: white;
}
footer {
    padding: 10px;
    /*background-color: rgba(0,0,0,.7);*/
    background-color: #c02600;
    font-size: 20px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: white 1.5px;
    border-style: double;
}
small {
    font-family: 'Yellowtail', cursive;
    text-shadow: 1px 1px 2px black;
}
small a {
    font-family: 'Yellowtail', cursive;
}
.brand-rights {
    text-align: center;
    color: white;
}
.brand-rights a:link, .brand-rights a:visited {
    color:white;
    text-decoration: none;
}

/* Optional glow effect */

.glow::before,
.glow::after {
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(-45deg, #00ff66,
    #00ffff, #ff0fff, #ff0099, #09ffff);
    background-size: 400%;
    height: calc(100% + 5px);
    width: calc(100% + 5px);
    z-index: -1;
    animation: change 80s linear infinite;
}

@keyframes change {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {}
}

/* Media Queries*/

@media (max-width: 1024px) {
    body {
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
    }
    header {
        padding: 0px;
        justify-content: unset;
        border-style: none;
        background: none;
        width: 100%;
    }
    header .nav li:hover {
        background-color: rgba(0, 0, 0, .0);
    }
    .mobileOnlyLogo {
        display: unset;
        align-items: center;
        position: absolute;
        padding: 5px;
    }
    .mobileOnlyLogo img{
        width: 60px;
        padding: 10px;
        filter: drop-shadow(1px 1px 2px black);
        border-radius: 15px;
    }
    header .nav{
        display: none;
        position: absolute;
        top: 0;
        right: 0;
    }
    #brandUlLink {
        position: unset;
        margin-left: auto;
        margin-right: auto;
    }
    #shopCartLink {
        position: unset;
        margin-left: auto;
        margin-right: auto;
    }
    header .nav.active{
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        background-color: rgba(0, 0, 0, .99);
        opacity: 1;
        z-index: 6;
    }
    header .nav li a {
        margin: 15px 5px;
        font-size: 25px;
        color: white;
    }
    .toggle {
        width: 35px;
        height: 30px;
        position: absolute;
        background: url(/images/bars.png) no-repeat center;
        background-size: cover;
        filter: invert(1);
        z-index: 100;
        right: 40px;
        margin-top: 30px;
    }
    .toggle.active {
        position: absolute;
        background: url(/images/window-close_white.png) no-repeat center;
        background-size: cover;
        filter: invert(0);
        right: 40px;
    }
    .menu-btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        border: 3px solid #fff;
        z-index: 7;
        background-color: blueviolet;
    }
    .menu-btn__burger {
        width: 50px;
        height: 6px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
        transition: all .5s ease-in-out;
    }
    .menu-btn__burger::before,
    .menu-btn__burger::after {
        content: '';
        position: absolute;
        width: 50px;
        height: 6px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
        transition: all .5s ease-in-out;
        z-index: 6;
    }
    .menu-btn__burger::before {
        transform: translateY(-16px);
    }
    .menu-btn__burger::after {
        transform: translateY(16px);
    }

    /* Animation */

    .menu-btn.open .menu-btn__burger {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
    }
    .menu-btn.open .menu-btn__burger::before {
        transform: rotate(45deg) translate(35px, -35px);
    }
    .menu-btn.open .menu-btn__burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }
    section {
        width: 100%;
    }
    #mainSections {
        display: flex;
        padding: 0px;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: white 1.5px;
        border-style: double;
        min-height: 100vh;
        color: white;
    }
    .mainBio {
        display: unset;
        margin-top: auto;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding: 0px;
    }
    .aboutImg {
        margin-top: 140px;
    }
    .aboutImg img {
        display: flex;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .aboutText {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px ;
        width: 90%;
        border-radius: 10px;
    }
    .aboutText h1 {
        font-size: 35px;
        margin: 0px;
        padding: 10px;
    }
    .aboutText p {
        font-size: 15px;
    }
    /* custom styling for all icons */
    i.fas,
    i.fab {
      font-size: 25px;
      color: white;
    }
    i.fa-aws {
        font-size: 10px;
    }
    .fa-soundcloud {
        color: white;
    
    }
    .fa-mixcloud {
        color: white;
        
    }
    .fa-twitch {
        color: white;
    }
    .fa-facebook {
        color: white;
    }
    .fa-instagram {
        color: white;
    }
    .fa-twitter {
        color: white;
    }
    footer {
        padding: 10px;
    }
    .brand-rights {
        font-size: 12px;
        text-align: center;
        color: white;
    }
    .brand-rights a:link, .brand-rights a:visited {
        color:white;
        text-decoration: none;
    }
}
@media (max-width: 360px) {
    .mobileOnlyLogo {
        display: unset;
        align-items: center;
        position: absolute;
        padding: 5px;
        z-index: 100;
    }
    .mobileOnlyLogo img{
        width: 60px;
        padding: 10px;
        filter: drop-shadow(1px 1px 2px black);
        border-radius: 15px;
    }
    .mainBio {
        display: unset;
        margin-top: auto;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding: 0px;
    }
    .aboutImg {
    }
    .aboutImg img {
        display: flex;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .aboutText {
        text-align: unset;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px;
        width: 95%;
        border-radius: 10px;
    }
    .aboutText h1 {
        font-size: 35px;
        margin: 0px;
        padding: 10px;
    }
    .aboutText p {
        font-size: 15px;
    }
}