@import url('https://fonts.googleapis.com/css?family=Tangerine');

* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
    text-decoration: none;
    list-style: none;
  }
body {
    background-color: #beb183;
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #61292e;
    padding: 20px;
    z-index: 5;
    position: fixed;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: white 1.5px;
    border-style: groove;
}
a:link, a:visited {
    color:white;
    text-decoration: none;
}
header .logo {
    position: absolute;
    left: 0;
    z-index: 5;
    margin-left: 100px;
}
header .cart {
    position: absolute;
    right: 0;
    z-index: 5;
    margin-right: 100px;
    color: white;
}
header .logo h1 {
    color: #fff;
    word-spacing: .2em;
    letter-spacing: 5.5px;
    text-shadow: black 1px 2.5px;
    font-size: 16px;
}
header .nav {
    display: flex;
    position: relative;
    font-size: 16px;
}
header .nav li a {
    display: inline-block;
    color: #fff;
    margin-left: 40px;
    font-weight: 450;
}
header .nav li a:hover {

}
#startOfHomePage {
    padding-top: 61px;
}
#mainSections {
    background-color: #beb183;
    padding: 30px;
    border-top: olive;
}
.callToAction {
    display:grid;
    /*(background-color: tomato;*/
}
.callToActionText {
    text-align: center;
    justify-content: center;
    align-items: center;
    /*background-color:cornflowerblue;*/
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px ;
    background-color: rgba(255, 255, 255, 0.5);
    width: 20%;
    border-radius: 10px;
}
.callToActionText h1 {
    font-size: 40px;
    margin: 10px;
}
.callToActionText h4 {
    font-size: 20px;
    margin: 10px;
}
.callToActionText button {
    font-size: 15px;
    color: white;
    font-weight: 900;
    padding: 5px;
    background-color: #29485d;
    border-radius: 5px;
    margin: 20px;
}
.callToActionText p {
    font-size: 15px;
    padding: 10px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.callToActionImg {
    /*background-color: cadetblue;*/
}
.callToActionImg img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.homeMain {
    background-image: url(/images/crk_sunset.jpg);
    background-position: center;
    background-size:auto ;
    background-size: 150% 270% ;
    background-repeat: no-repeat;
    min-height: 80vh;
    padding: 10px;
}
.homeMain img {
    width: 500px;
    height: 500px;
    padding: 25px;
}
.homeMain p {
    display: flex;
    width: 50%;
    padding: 25px;
    /*background-color: #297c08;*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
}
.elfsight-app-704e3c24-6784-4d6d-9efa-334e7d143eed {
    background-color: #beb183;
}

/* custom styling for all icons */
i.fas,
i.fab {
  font-size: 25px;
}
i.fa-aws {
    font-size: 12px;
}
.fa-soundcloud {
    color: white;

}
.fa-mixcloud {
    color: white;
    
}
.fa-twitch {
    color: white;
}
.fa-facebook {
    color: white;
}
.fa-instagram {
    color: white;
}
.fa-twitter {
    color: white;
}
footer {
    padding: 10px;
    background-color:#61292e;
}
.brand-rights {
    text-align: center;
    color: white;
}
.brand-rights a:link, .brand-rights a:visited {
    color:white;
    text-decoration: none;
}

/* Optional glow effect */

.glow::before,
.glow::after {
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(-45deg, #00ff66,
    #00ffff, #ff0fff, #ff0099, #09ffff);
    background-size: 400%;
    height: calc(100% + 5px);
    width: calc(100% + 5px);
    z-index: -1;
    animation: change 80s linear infinite;
}

@keyframes change {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {}
}

/* Media Queries*/

@media (max-width: 475px) {
    body {
        background-color: #beb183;
    }
    header {
        display: none;
    }
    .homeMain {
        background-image: url(/images/crk_sunset.jpg);
        background-position: center;
        background-size: 180% 180% ;
        background-repeat: no-repeat;
        min-height: 50vh;
        padding: 10px;
    }
    section {
        width: 100%;
    }
    #startOfHomePage {
        padding-top: 0px;
    }
    #mainSections {
        background-color: #beb183;
        padding: 0px;
    }
    .callToAction {
        display:grid;
        /*(background-color: tomato;*/
    }
    .callToActionText {
        text-align: center;
        justify-content: center;
        align-items: center;
        /*background-color:cornflowerblue;*/
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px ;
        background-color: rgba(255, 255, 255, 0.5);
        width: 80%;
        border-radius: 10px;
    }
    .callToActionText h1 {
        font-size: 40px;
        margin: 10px;
    }
    .callToActionText h4 {
        font-size: 20px;
        margin: 10px;
    }
    .callToActionText button {
        font-size: 15px;
        color: white;
        font-weight: 900;
        padding: 5px;
        background-color: #29485d;
        border-radius: 5px;
        margin: 20px;
    }
    .callToActionText p {
        font-size: 15px;
        padding: 10px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .callToActionImg {
        /*background-color: cadetblue;*/
    }
    .callToActionImg img {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .elfsight-app-704e3c24-6784-4d6d-9efa-334e7d143eed {
        background-color: #beb183;
    }
    
    /* custom styling for all icons */
    i.fas,
    i.fab {
      font-size: 25px;
    }
    i.fa-aws {
        font-size: 10px;
    }
    .fa-soundcloud {
        color: white;
    
    }
    .fa-mixcloud {
        color: white;
        
    }
    .fa-twitch {
        color: white;
    }
    .fa-facebook {
        color: white;
    }
    .fa-instagram {
        color: white;
    }
    .fa-twitter {
        color: white;
    }
    footer {
        padding: 0px;
        background-color:#61292e;
    }
    .brand-rights {
        font-size: 12px;
        text-align: center;
        color: white;
    }
    .brand-rights a:link, .brand-rights a:visited {
        color:white;
        text-decoration: none;
    }
}